body{
    background-image : url("images/hero-bg.jpg")  ;
    background-size:cover ;
    background-color: no-repeat ;
    background-position: center;
     background-attachment: fixed;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;

    display: flex;
    justify-content: space-around;

}

.container1{
    width: 35vw;
    height: 45vw;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #FFFFFF;
    color: black;
    
}
.container2{
    width: 35vw;
    height: 28vw;
    border: 2px solid white;
    display: flex;
    justify-content: center;

    border-radius: 20px;
    background-color: #FFFFFF;
    color: black;
    
}

.btnenviar{
    background-color: #FFFFFF;
    padding: 16px 24px 16px 24px;
    border-radius: 20px;
    border: 1px solid #0a0d11;
    color: black;
    margin-left: 16px;

}

.form{

    background-image : url("images/ouuu.jpg")  ;
    background-size:cover ;
    background-color: no-repeat ;
    background-position: center;
     background-attachment: fixed;

    display: flex;
    flex-direction: column;

    background-image : url("images/ouuu.jpg")  ;
    background-size:cover ;
    background-color: no-repeat ;
    background-position: center;
     background-attachment: fixed;
}


